<div style="margin-top: 10px">
    <input id="search_query" name="search_query" type="text" />&nbsp;<button onclick="window.location='@Url.Action("Index", "Search")' + '?q=' + document.getElementById('search_query').value">Search</button>
</div>
