<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EmailOrder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EmailOrder.Properties.Settings>
            <setting name="ImapHost" serializeAs="String">
                <value>imap.gmail.com</value>
            </setting>
            <setting name="EmailName" serializeAs="String">
                <value>grozniarkasha@gmail.com</value>
            </setting>
            <setting name="EmailPassword" serializeAs="String">
                <value>Z-7eG*hP=HpNM65-</value>
            </setting>
            <setting name="ImapPort" serializeAs="String">
                <value>993</value>
            </setting>
            <setting name="FromAddress" serializeAs="String">
                <value>paypal</value>
            </setting>
            <setting name="DeliveredAfter" serializeAs="String">
                <value>2018-06-14</value>
            </setting>
            <setting name="ProductName" serializeAs="String">
                <value>FlixGrab</value>
            </setting>
            <setting name="ProductId" serializeAs="String">
                <value>99</value>
            </setting>
            <setting name="SignatureKey" serializeAs="String">
                <value>FlixGrab.Signature</value>
            </setting>
            <setting name="OrderUrl" serializeAs="String">
                <value>http://localhost/Api/Order/KeyGenerator</value>
            </setting>
            <setting name="FallbackEmail" serializeAs="String">
                <value>siadmitriy@mail.ru</value>
            </setting>
            <setting name="TestMode" serializeAs="String">
                <value>True</value>
            </setting>
        </EmailOrder.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.4.0" newVersion="1.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>