@model PagedList.IPagedList<Licensing.Web.Models.OrderItem>

@{
    ViewBag.Title = "Orders - Licensing Service";
}

<h2>Orders</h2>

@if (User.IsInRole("Administrators"))
{
    <p>
        @Html.ActionLink("Add Order Manually", "Create")
    </p>
}

@using (Html.BeginForm())
{
    <p>
        Start Date:&nbsp;@Html.TextBox("StartDate", ViewBag.StartDate.ToString("MM/dd/yyyy") as string, new { style="width: 10ex" })&nbsp;End Date:&nbsp;@Html.TextBox("EndDate", ViewBag.EndDate.ToString("MM/dd/yyyy") as string, new { style="width: 10ex" })&nbsp;Product:&nbsp;@Html.DropDownList("SelectedProduct","All")
        &nbsp;<input type="submit" value="Filter" />
    </p>
}

@Html.Partial("_OrderListPartial", Model, new ViewDataDictionary() {{"startDate", ViewBag.StartDate}, {"endDate", ViewBag.EndDate}, {"selectedProduct", ViewBag.SelectedProduct.SelectedValue} })

<script type="text/javascript">
    $(function () {
        $('#StartDate').datepicker({
            inline: true,
            setDate: new Date(new Date().getTime() - (1000 * 60 * 60 * 24 * 7))
        });

        $('#EndDate').datepicker({
            inline: true,
            setDate: new Date()
        });
    });
</script>
